@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

:root {
    --color-primary:hsl(25, 97%, 53%);
    --color-white: hsl(0, 0%, 100%);
    --color-light-gray: hsl(217, 12%, 63%);
    --color-medium-gray: hsl(216, 12%, 54%);
    --color-dark-blue: hsl(213, 19%, 18%);
    --color-very-dark-blue: hsl(216, 12%, 8%);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
}

html {
    font-size: 15px;
}

body {
    font-family: 'Overpass', sans-serif;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: var(--color-very-dark-blue);
}

img {
    display: block;
    width: 100%;
    object-fit: cover;
}


.card {
    width: 29rem;
    height: auto;
    padding: 2rem;
    border-radius: 2rem;
    background: var(--color-dark-blue);
    color: var(--color-light-gray);
    line-height: 1.8;
    margin: 0 auto;

}

.card h2 {
    font-size: 2.3rem;
    font-weight: 700;
    color: white;
}

/* -------------------------------------------------------------------------- */
/*                                CARD RATINGS                                */
/* -------------------------------------------------------------------------- */
.card__rating {
    display: block;
}

.card__rating > * {
    margin-bottom: 1.9rem;
}

.card__icon {
    background: rgba(131, 128, 128, 0.082);
    padding: 1.6rem;
    border-radius: 50%;
    width: 4.7rem;
    height: 4.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card .ratings {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.card .ratings a {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(131, 128, 128, 0.082);
    color: var(--color-light-gray);
    width: 4.2rem;
    height: 4.2rem;
    border-radius: 50%;
    gap: 9rem;
    font-size: 1.2rem;
    transition: all 300ms ease;
}

.card .ratings a:hover {
    background: var(--color-light-gray);
    color: var(--color-white);
}

.card button {
    width: 100%;
    padding: 1.2rem;
    background: var(--color-primary);
    color: var(--color-white);
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-size: 1.2rem;
    border-radius: 2rem;
    transition: all 300ms ease;
    cursor: pointer;
    margin-bottom: 0rem;
}

.card button:hover {
    color: var(--color-primary);
    background: var(--color-white);
}


/* -------------------------------------------------------------------------- */
/*                               CARD THANK YOU                               */
/* -------------------------------------------------------------------------- */
.card__thanks {
    display: none;
}

.card__thanks > * {
    text-align: center;
    margin-bottom: 1.9rem;
}

.card__thanks img {
    width: 50%;
    margin: 1rem auto 3rem;
}

.card__thanks .result {
    background: rgba(131, 128, 128, 0.082);
    width: 75%;
    margin: 0 auto 1.9rem;
    padding: 0.5rem;
    border-radius: 2rem;
    color: var(--color-primary);
}

.card__thanks p {
    margin-bottom: 0;
}